.body {
    background-color: black;
}

@font-face {
    font-family: "Nav bar title";
    src: url('../fonts/Empirez-PKZJx.ttf')format('truetype')
}

@font-face {
    font-family: espn;
    src: url('../fonts/sf-sports-night.regular.ttf')format('truetype')
}