.main-content-container {
    color: white;
    margin: 100px 0px 0px 50px;
}

.left-drop1 {
    width: 300px;
    border: 1px solid white;
}

.drop1-top {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop1-search {
    color: white;
    background-color: black;
    width: 250px;
    height: 25px;
    font-size: 18px;
    margin-top: 15px;
}

.drop1-bottom {
    overflow: scroll;
    height: 300px;
}

.drop1-ul-players {
    padding: 0px;
}

.drop1-ul-players li {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    border: 1px solid white;
    width: 100%;
}

.drop1-ul-players li:hover {
    cursor: pointer;
    background-color: lightgray;
}

.main-content-container {
    display: flex;
    justify-content: space-between;
    
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.table-container {
    width: 800px;
    overflow: scroll;
}

